<head>
    <link rel="stylesheet" href="../../public/css/notepad.css">
</head>

<nav>
    <h2>Olá, {{user.name}}!</h2>
    <div id="link-container">
        <a href="/notepad/meu_perfil"><i class="fas fa-user"></i> Meu Perfil</a>
        <a href="/log_out"><i class="fas fa-sign-out-alt"></i> Sair</a>
    </div>
</nav>

<div id="main-container">
    <div class="annotations">
        {{#each user.notes}}
        <div class="note {{this.color}}" ondblclick="submit_note('{{this._id}}')">
            <div class="note-header">
                <h3 onselectstart="return false">{{this.title}}</h3>
            </div>
            <div class="note-content">
                <pre onselectstart="return false">{{this.content}}</pre>
            </div>
        </div>
        {{/each}}
    </div>
    <!--note-ending-->
    <!-- annotations ending -->
    <button onclick="location.assign('/notepad/criar_anotacao')"> <i class="fas fa-plus"></i> Nova anotação</button>
</div>
<div id="bottom-container">
    <h2>Para visualizar suas anotações
        dê um duplo clique, ou dois toques, sobre elas.</h2>
</div>


<script src="../../public/js/note_edit_submit.js"></script>